{
    "openapi": "3.0.0",
    "info": {
        "title": "Contact Manager API",
        "description": "A simple contact manager API to demonstrate the concepts\n    of Clean Architecture and DDD with PHP 7.4+.",
        "contact": {
            "email": "northontorga+github@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://myproductionserver.com",
            "description": "Production server"
        },
        {
            "url": "https://localhost",
            "description": "Development environment"
        }
    ],
    "paths": {
        "/v1/contact": {
            "get": {
                "tags": [
                    "contact"
                ],
                "responses": {
                    "200": {
                        "description": "All contacts.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Contact"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "contact"
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/ContactBody"
                },
                "responses": {
                    "200": {
                        "description": "Contact created successfully!"
                    }
                }
            }
        },
        "/v1/contact/{id}": {
            "get": {
                "tags": [
                    "contact"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the contact",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contact requested.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Contact"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "contact"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the contact",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/ContactBody"
                },
                "responses": {
                    "200": {
                        "description": "Contact updated successfully!"
                    }
                }
            },
            "delete": {
                "tags": [
                    "contact"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the contact",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contact removed successfully!"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Contact": {
                "title": "Contact",
                "required": [
                    "id",
                    "name",
                    "nickname",
                    "phone"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "name": {
                        "type": "string"
                    },
                    "nickname": {
                        "type": "string"
                    },
                    "phone": {
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "requestBodies": {
            "ContactBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "hostname",
                                "recordType",
                                "phone"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "nickname": {
                                    "type": "string"
                                },
                                "phone": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "contact",
            "description": "Operations about Contacts",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://ntorga.com"
            }
        }
    ]
}